.container {
  display: flex;
  margin-top: 30px;
}

.aboutFilms {
  margin-top: 30px;
  font-size: 18px;
}

.video {
  width: 45%;
}

@media (max-width: 991px) {
  .container {
    flex-direction: column;
  }

  .video {
    display: block;
    margin: 20px auto;
    width: 100%;
  }
}
