.descriptionContainer {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.descriptionNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionName {
  font-size: 15px;
  color: gray;
}

.descriptionTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20%;
}

.descriptionText {
  font-size: 17px;
}

@media (max-width: 991px) {
  .descriptionContainer {
    justify-content: start;
    margin-left: 0;
  }
}
